{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver", {
              "root": ["."],
              "alias": {
                "styles": "./styles"
              },
              "cwd": "babelrc"
        }],
        [
            "wrap-in-js",
            {
              "extensions": ["css$", "scss$"]
            }
        ],[
            "import",
            {
                "libraryName": "antd-mobile"
            }
        ]
    ]
}