@charset "UTF-8";
*{
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:transparent;
    cursor:pointer;
}
*,:after,:before{
    border:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body,html{
    height:100%;
    width:100%;
    position:relative;
}
body,dd,dl,h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
button,input,ol,ul{
    margin:0;
    padding:0;
}
body{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    position:relative;
    line-height:1.5;
}
button,input,select,textarea{
    outline:0
}
button,input{
    -webkit-appearance:none
}
input:-webkit-autofill{
    -webkit-box-shadow:0 0 0 1000px #fff inset;
}
button,fieldset,input,label,legend,optgroup,option,select,textarea{
    font-family:inherit;
    font-style:inherit;
    font-weight:inherit;
    font-size:1em;
    color:inherit;
    line-height:inherit;
}
h1,h2,h3,h4,h5,h6,strong{
    font-weight:400;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
address,cite,dfn,em,var{
    font-style:normal;
}
a{
    text-decoration:none;
    color:inherit;
    display:inline-block;
    cursor:pointer;
}
ol,ul{
    list-style:none;
}
.red{
    color: #f00;
}
.fs15{
    font-size: 0.5rem;
}
.fs10{
    font-size: 0.4rem;
}
.bold{
    font-weight: bold;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}